<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/misc/favicon.png">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Pheromone - Responsive Multipurpose Template
    </title>
    <!-- Bootstrap Core CSS-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS-->
    <link href="css/pheromone.css" rel="stylesheet">
    <link href="css/vendorcarasoule.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="top">
    <!-- Preloader-->
    <div id="preloader">
      <div id="status"></div>
    </div>
    <!-- Navigation-->
    <nav class="navbar navbar-custom navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-main-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#page-top" class="navbar-brand page-scroll">
            <!-- Img or text logo--><img src="img/logo.png" alt="" class="logo"></a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="hidden"><a href="#page-top"></a></li>
            <li><a href="/">Home  </a>
            
            </li>
            <li><a href="/packages">Packages</span></a>
             
            </li>
            <li><a href="/our-rules">Our Terms</a>
               
            </li>
            <li><a href="/vendors">Vendors <i class="fa fa-angle-down"></i><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/vendor-bronze">vendor bronze</a></li>
                <li><a href="/vendor-silver">vendor silver</a></li>
                <li><a href="/vendor-gold">vendor gold</a></li>
                <li><a href="/vendors">Band</a></li>
                <li><a href="/vendors">Event Rentals</a></li>
                <li><a href="/vendors">Lighting & Decore</a></li>
                <li><a href="/vendors">Cake</a></li>
                <li><a href="/vendors">Favor & Gifts</a></li>
                <li><a href="/vendors">Photo Booths</a></li>
                <li><a href="/vendors">Ceremony Music</a></li>
                <li><a href="/vendors">Transportation</a></li>
                <li><a href="/vendors">Dress & Attire</a></li>
                <li><a href="/vendors">Travel Agents</a></li>
                 
              </ul>
            <li><a href="/about">About Us</a>
            </li>
            <li><a href="/contact">Contact US </a>
               
            </li>
            <li class="menu-divider visible-lg">&nbsp;</li>
            <li class="dropdown"><a href="#" class="dropdown-toggle"><i class="fa fa-search fa-lg"></i><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <form method="post" class="search-form">
                    <button type="submit" title="Search" class="search-button"><i class="fa fa-search fa-lg"></i></button>
                    <input type="text" placeholder="SEARCH" class="form-control search-field">
                  </form>
                </li>
              </ul>
            </li>
            <li class="dropdown"><a href="/vendors-landing" class="dropdown-toggle">Are You A Vendor<span class="badge">?</a>
               
            </li>
            <li class="dropdown"><a href="/" class="dropdown-toggle"><span class="lang">Eng</span><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">English</a></li>
                <li><a href="#">አማርኛ</a></li>
              
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>