 <%include ../views/partials/header%>
    <!-- Intro Slider-->
    <header id="Carousel-intro" data-ride="carousel" class="intro carousel carousel-big slide">
      <!-- Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#Carousel-intro" data-slide-to="0" class="active"></li>
        <li data-target="#Carousel-intro" data-slide-to="1"></li> 
        <li data-target="#Carousel-intro" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <div style="background-image:url('img/slider/slider_1.jpg');" class="fill">
            <div class="intro-body">
              <h4 data-wow-delay=".4s" class="wow fadeInUp">Celebrate with joy</h4>
              <h1 class="classic">Abysiniya Hotel</h1>
              <div data-wow-delay="1s" class="scroll-btn hidden-xs wow fadeInDown"><a href="#about" class="page-scroll"><span class="mouse"><span class="weel"><span></span></span></span></a></div>
            </div>
          </div>
        </div>
        <div class="item">
          <div style="background-image:url('img/slider/slider_2.jpg');" class="fill">
            <div class="intro-body">
              <h1 class="classic"> Classy Planning  </h1>
              <h4 class="wow fadeInUp">  <span class="bold"></span>Wedding Plan</span> made easy
              </h4>
              <ul class="list-inline lead">
                <li><a href="#about" class="btn btn-border btn-lg page-scroll wow fadeInLeft"><i class="fa fa-chevron-down"></i>Get Started</a></li>
                <li><a href="#contact" class="btn btn-white btn-lg page-scroll wow fadeInRight"><i class="fa fa-chevron-down"></i> CONTACT US</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item">
          <div style="background-image:url('img/slider/slider_3.jpg');" class="fill">
            <div class="intro-body">
              <h1 class="classic"> Pheromon Hall  </h1>
              <h4 class="wow fadeInUp">  Celebrate your best day with a reasonable price
              </h4>
              <ul class="list-inline lead">
                <li><a href="#about" class="btn btn-border btn-lg page-scroll wow fadeInLeft"><i class="fa fa-chevron-down"></i> Read More </a></li>
               </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Controls--><a href="#Carousel-intro" data-slide="prev" class="left carousel-control"><span class="icon-prev"></span></a><a href="#Carousel-intro" data-slide="next" class="right carousel-control"><span class="icon-next"></span></a>
    </header>
    <!-- About Section-->
    <section id="about" class="no-pad-btm">
      <div class="container wow fadeIn">
        <div class="row">
          <div class="col-lg-6">
            <h3>About Classy</h3>
            <p class="no-pad">We’re here to help make the wedding planning process as stress-free as possible, and provide loads of helpful advice. Whether you’re setting your budget, choosing a venue, or learning about the latest wedding trends, you’ll find everything you need to know about wedding planning right here. </p>
            
          </div>
          <div class="col-lg-5 col-lg-offset-1 text-center">
            <h3>&nbsp;</h3>
            <div data-value="0.93" class="circle"><span></span>
              <div class="agenda">Planning</div>
            </div>
            <div data-value="0.82" class="circle"><span></span>
              <div class="agenda">Advertising</div>
            </div>
            <div data-value="0.68" class="circle"><span></span>
              <div class="agenda">Event Organizing</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Slider 2 Section-->
    <section id="about-slider2" class="bg-gray">
      <div class="container">
        <h3 class="pull-left">Vendors</h3>
        <div class="pull-right">
          <h5><a href="news3.html">SEE ALL VENDORS</a></h5>
        </div>
        <div class="row">
          <div class="col-md-12 margin-btm-sml">
              <div id="news-slider5" class="owl-carousel">

                  <div class="container">
                    <div class="clearfix"></div>
                     <div class="row grid-pad">
                       <div class="col-sm-4"><a href="news-single-sidebar.html"><img src="img/news/hotel3.jpg" alt="" class="img-responsive center-block">
                        <h5>Collaboratively administrate</h5></a>
                      <p>Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis, turpis purus.</p><a href="news-single.html" class="btn btn-gray btn-xs">Read more</a>
                    </div>
                  
                  </div>
                     </div>

                     
                  <div class="container">
                      <div class="clearfix"></div>
                       <div class="row grid-pad">
                         <div class="col-sm-4"><a href="news-single-sidebar.html"><img src="img/news/hall2.jpg" alt="" class="img-responsive center-block">
                          <h5>Collaboratively administrate</h5></a>
                        <p>Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis, turpis purus.</p><a href="news-single.html" class="btn btn-gray btn-xs">Read more</a>
                      </div>
                    
                    </div>
                       </div>
     
                       <div class="container">
                          <div class="clearfix"></div>
                           <div class="row grid-pad">
                             <div class="col-sm-4"><a href="news-single-sidebar.html"><img src="img/news/dj2.jpg" alt="" class="img-responsive center-block">
                              <h5>Collaboratively administrate</h5></a>
                            <p>Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis, turpis purus.</p><a href="news-single.html" class="btn btn-gray btn-xs">Read more</a>
                          </div>
                        
                        </div>
                           </div>
         
                           <div class="container">
                              <div class="clearfix"></div>
                               <div class="row grid-pad">
                                 <div class="col-sm-4"><a href="news-single-sidebar.html"><img src="img/news/hotel1.jpg" alt="" class="img-responsive center-block">
                                  <h5>Collaboratively administrate</h5></a>
                                <p>Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis, turpis purus.</p><a href="news-single.html" class="btn btn-gray btn-xs">Read more</a>
                              </div>
                            
                            </div>
                               </div>

                               <div class="container">
                                <div class="clearfix"></div>
                                 <div class="row grid-pad">
                                   <div class="col-sm-4"><a href="news-single-sidebar.html"><img src="img/news/hall1.jpg" alt="" class="img-responsive center-block">
                                    <h5>Collaboratively administrate</h5></a>
                                  <p>Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis, turpis purus.</p><a href="news-single.html" class="btn btn-gray btn-xs">Read more</a>
                                </div>
                              
                              </div>
                                 </div>

                                 <div class="container">
                                  <div class="clearfix"></div>
                                   <div class="row grid-pad">
                                     <div class="col-sm-4"><a href="news-single-sidebar.html"><img src="img/news/beauty1.jpg" alt="" class="img-responsive center-block">
                                      <h5>Collaboratively administrate</h5></a>
                                    <p>Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis, turpis purus.</p><a href="news-single.html" class="btn btn-gray btn-xs">Read more</a>
                                  </div>
                                
                                </div>
                                   </div>
             
              </div>
          </div>
      </div>
      </div>
    </section>
    <!-- Services Section-->
    
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h3>Our Services</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.s</p>
          </div>
        </div>
        
      </div>
    </section>
    <!-- Services 2 Section-->
    <section class="section-small bg-img4 text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div data-wow-delay=".2s" class="col-lg-3 col-sm-6 wow fadeIn">
            <h4><i class="icon icon-big icon ion-ios-briefcase-outline"></i>
              BUDGET MANAGMENT</h4>
            <p>Is the thought of your wedding budget managment bothering you?
              If yes,you are at the right place.Classy wedding can easily avoid extravagance and help you save unnessary expenses.</p>
          </div>
          <div data-wow-delay=".4s" class="col-lg-3 col-sm-6 wow fadeIn">
            <h4><i class="icon icon-big ion-ios-navigate-outline"></i>
              EVENT & LOCATION MANAGMENT</h4>
            <p>Lorem ipsum dolor sit amet consecte tur adipiscingtitor diam</p>
          </div>
          <div data-wow-delay=".6s" class="col-lg-3 col-sm-6 wow fadeIn">
            <h4><i class="icon icon-big ion-ios-camera-outline"></i>PHOTOGRAPHY</h4>
            <p>It is obvious that you need your unforgettable wedding memories.
              So we will get you the best video and camera studious.</p>
          </div>
          <div data-wow-delay=".8s" class="col-lg-3 col-sm-6 wow fadeIn">
            <h4><i class="icon icon-big ion-ios-star-outline"></i>BEAUTY</h4>
            <p>Which one do you prefer?
              beauty salon or personal Makeup artists? You can the best service as your preference.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Slider Section-->
    <section id="about-slider" class="no-pad-btm">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h3>Our offers</h3>
            <p>
             You can either use out <span class="bold">FULL PACKAGE</span> - All-inclusive wedding package! Just relax and think about the wedding, live the planning for us.
            or  <span class="bold">HALF PACKAGE</span> A great package for those who just need help getting started, or at any other point where a little assistance is needed!  
            </p><a href="#" target="_blank" class="btn btn-dark">LEARN MORE</a>
          </div>
          <div class="col-lg-6 col-lg-offset-1">
            <div id="carousel-light" class="carousel slide carousel-fade">
              <ol class="carousel-indicators">
                <li data-target="#carousel-light" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-light" data-slide-to="1"></li>
                <li data-target="#carousel-light" data-slide-to="2"></li>
              </ol>
              <div role="listbox" class="carousel-inner">
                <div class="item active"><img src="img/slider/2.png" alt="" class="img-responsive center-block"></div>
                <div class="item"><img src="img/slider/1.png" alt="" class="img-responsive center-block"></div>
                <div class="item"><img src="img/slider/3.png" alt="" class="img-responsive center-block"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
     
    <!-- Portfolio-->
    <section id="portfolio" class="no-pad-btm">
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <h3>Latest Works</h3>
            <ul class="portfolio-sorting list-inline text-center">
              <li><a href="portfolio-single.html" data-group="all" class="active">All</a></li>
              <li><a href="portfolio-single.html" data-group="design">Design</a></li>
              <li><a href="portfolio-single.html" data-group="photo">Photo</a></li>
              <li><a href="portfolio-single.html" data-group="branding">Branding</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div id="grid" class="row portfolio-items">
          <div data-groups="[&quot;design&quot;, &quot;branding&quot;]" class="col-md-3 col-sm-6 no-pad">
            <div class="portfolio-item"><a href="/portfolio-single"><img src="img/portfolio/port1.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="caption">
                    <h5>one</h5><span>Lorem ipsum dolor sit amet</span>
                  </div>
                </div></a></div>
          </div>
          <div data-groups="[&quot;photo&quot;, &quot;branding&quot;]" class="col-md-3 col-sm-6 no-pad">
            <div class="portfolio-item"><a href="/portfolio-single"><img src="img/portfolio/port2.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="caption">
                    <h5>Form Image Creative</h5><span>Lorem ipsum dolor sit amet</span>
                  </div>
                </div></a></div>
          </div>
          <div data-groups="[&quot;&quot;]" class="col-md-3 col-sm-6 no-pad">
            <div class="portfolio-item"><a href="/portfolio-single"><img src="img/portfolio/port7.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="caption">
                    <h5>Form Image Creative</h5><span>Lorem ipsum dolor sit amet</span>
                  </div>
                </div></a></div>
          </div>
          <div data-groups="[&quot;design&quot;, &quot;photo&quot;]" class="col-md-3 col-sm-6 no-pad">
            <div class="portfolio-item"><a href="/portfolio-single"><img src="img/portfolio/port3.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="caption">
                    <h5>Form Image Creative</h5><span>Lorem ipsum dolor sit amet</span>
                  </div>
                </div></a></div>
          </div>
          <div data-groups="[&quot;branding&quot;, &quot;design&quot;]" class="col-md-3 col-sm-6 no-pad">
            <div class="portfolio-item"><a href="/portfolio-single"><img src="img/portfolio/port4.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="caption">
                    <h5>Form Image Creative</h5><span>Lorem ipsum dolor sit amet</span>
                  </div>
                </div></a></div>
          </div>
          <div data-groups="[&quot;photo&quot;, &quot;design&quot;]" class="col-md-3 col-sm-6 no-pad">
            <div class="portfolio-item"><a href="/portfolio-single"><img src="img/portfolio/port5.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="caption">
                    <h5>Form Image Creative</h5><span>Lorem ipsum dolor sit amet</span>
                  </div>
                </div></a></div>
          </div>
          <div data-groups="[&quot;photo&quot;, &quot;branding&quot;]" class="col-md-3 col-sm-6 no-pad">
            <div class="portfolio-item"><a href="/portfolio-single"><img src="img/portfolio/port6.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="caption">
                    <h5>Form Image Creative</h5><span>Lorem ipsum dolor sit amet</span>
                  </div>
                </div></a></div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-small action bg-gray no-pad-btm">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h3 class="no-pad">We believe our work speaks for itself</h3>
          </div>
          <div class="col-md-3 col-md-offset-1 text-right"><a href="portfolio-masonry-4.html" class="btn btn-dark-border">View All Portfolio</a></div>
        </div>
      </div>
    </section>
    <!--+news("SEE ALL NEWS", 1, 3)-->
    <!-- News Block-->
    
  
    <!-- Services Section-->
    <section>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h3>Why Choose Us?</h3>
          </div>
        </div>
        <div class="row">
          <div data-wow-delay=".2s" class="col-lg-3 col-sm-6 wow fadeIn">
            <h4><i class="icon-big ion-ios-pricetag-outline"></i> Affordable</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum</p>
          </div>
          <div data-wow-delay=".4s" class="col-lg-3 col-sm-6 wow fadeIn">
            <h4><i class="icon-big ion-ios-stopwatch-outline"></i> Minmize your time</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum</p>
          </div>
          <div data-wow-delay=".6s" class="col-lg-3 col-sm-6 wow fadeIn"> 
            <h4><i class="icon-big ion-ios-checkmark-outline"></i> Guranteed </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum</p>
          </div>
          <div data-wow-delay=".8s" class="col-lg-3 col-sm-6 wow fadeIn">
            <h4><i class="icon-big fa fa-handshake-o" style="font-size: 80px;line-height:120px;display:block;opacity: 1"></i> True Partners</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Action video-->
    <section class="section-small bg-img2 text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2"><a href="https://www.youtube.com/watch?v=RBTpRaws5ts" class="swipebox-video"><i class="icon icon-big ion-ios-play-outline"></i></a>
            <h2>Watch <span class="bold">Video</span>
            </h2>
            <p>A wedding planner can be a total lifesaver during your engagement,
							 and you have more choices than ever when it comes to finding the right one</p>
          </div>
        </div>
      </div>
    </section>
     
    <!-- Contact Section-->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h2>contact us</h2>
            <p>Feel free to contact us to provide some feedback on our work, give us suggestions on our work and website, or to just say hello! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar.</p>
            <hr>
            <h5><i class="fa fa-map-marker fa-fw fa-lg"></i> 1234 Some Avenue, Addis Ababa, B 564
            </h5>
            <h5><i class="fa fa-envelope fa-fw fa-lg"></i> info@classy.com
            </h5>
            <h5><i class="fa fa-phone fa-fw fa-lg"></i> +251912345678
            </h5>
          </div>
          <div class="col-md-5 col-md-offset-2">
            <h2>Say hello</h2>
            <!-- Contact Form - Enter your email address on line 17 of the mail/contact_me.php file to make this form work. For more information on how to do this please visit the Docs!-->
            <form id="contactForm" name="sentMessage" novalidate="">
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label for="name" class="sr-only control-label">You Name</label>
                  <input id="name" type="text" placeholder="You Name" required="" data-validation-required-message="Please enter name" class="form-control input-lg"><span class="help-block text-danger"></span>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label for="email" class="sr-only control-label">You Email</label>
                  <input id="email" type="email" placeholder="You Email" required="" data-validation-required-message="Please enter email" class="form-control input-lg"><span class="help-block text-danger"></span>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label for="phone" class="sr-only control-label">You Phone</label>
                  <input id="phone" type="tel" placeholder="You Phone" required="" data-validation-required-message="Please enter phone number" class="form-control input-lg"><span class="help-block text-danger"></span>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label for="message" class="sr-only control-label">Message</label>
                  <textarea id="message" rows="2" placeholder="Message" required="" data-validation-required-message="Please enter a message." aria-invalid="false" class="form-control input-lg"></textarea><span class="help-block text-danger"></span>
                </div>
              </div>
              <div id="success"></div>
              <button type="submit" class="btn btn-dark">Send</button>
            </form>
          </div>
        </div>
      </div>
    </section>
     <%include ../views/partials/footer%>