<%include ../views/partials/header%>

<!-- Header -->
<header class="intro introhalf">
  <!-- Intro Header -->
  <div class="intro-body"><h1 class="classic">Packages</h1></div>
</header>
<!-- Empty Section -->
<section class="container-fluid text-center no-pad-btm">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <p class="no-pad">
        Planning a wedding is a truly magical experience. We’re offering our
        expertise to help make the planning process fun and stress-free for you
        from beginning to end. From decor inspiration to vow help, we’ve covered
        it all in our articles. This complete guide is set out to prioritise the
        tasks to be done on the planning process.
      </p>
    </div>
  </div>
</section>

<section class="no-pad-btm">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Full-Package</h4>
        <p>
          Lorem ipsum dolor sit amet,<a href="#">adipisicing elit</a>consectetur
          adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex.
        </p>
      </div>
      <div class="col-md-6">
        <h4>Half-Package</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex.
        </p>
      </div>
      <h3>&nbsp;</h3>
    </div>
  </div>
</section>

<section class="bg-dark wow fadeIn">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h3>How can we help?</h3>
        <p>
          Pheromone will look beautiful on any device. Serve high-resolution
          images to devices with retina displays. We have a dedicated support
          team ready to answer your questions. Feel free to contact us to
          provide some feedback on our templates or give us suggestions for new
          themes.
        </p>
        <a href="#" target="_blank" class="btn btn-white btn-lg">Contact now</a>
      </div>
      <div class="col-lg-6 col-lg-offset-1">
        <div id="carousel-light" class="carousel slide carousel-fade">
          <ol class="carousel-indicators">
            <li
              data-target="#carousel-light"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carousel-light" data-slide-to="1"></li>
            <li data-target="#carousel-light" data-slide-to="2"></li>
          </ol>
          <div role="listbox" class="carousel-inner">
            <div class="item active">
              <img
                src="img/slider/2.png"
                alt=""
                class="img-responsive center-block"
              />
            </div>
            <div class="item">
              <img
                src="img/slider/1.png"
                alt=""
                class="img-responsive center-block"
              />
            </div>
            <div class="item">
              <img
                src="img/slider/3.png"
                alt=""
                class="img-responsive center-block"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="no-pad-btm">
  <div class="container pricing text-center">
    <i class="ion-bag icon-big"></i>
    <h3>Pricing Table</h3>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h4>BRONZE</h4></div>
          <div class="panel-body">
            Some content here about the payment. Nula vitae elit libero, a
            phaetra augue.
          </div>
          <ul class="list-group">
            <li class="list-group-item">Phothograpy</li>
            <li class="list-group-item">flower</li>
            <li class="list-group-item">cake</li>
            <li class="list-group-item">
              <span class="number"><sup>birr</sup>1000</span><sub>MONTH</sub
              ><a href="#" class="btn btn-dark">Get Started</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="panel active panel-default">
          <div class="panel-heading"><h4>SILVER</h4></div>
          <div class="panel-body">
            Some content here about the payment. Nula vitae elit libero, a
            phaetra augue.
          </div>
          <ul class="list-group">
            <li class="list-group-item">Beauty</li>
            <li class="list-group-item">
              transport <span class="label label-danger">new</span>
            </li>
            <li class="list-group-item">Checklist</li>
            <li class="list-group-item">
              <span class="number"><sup>birr</sup>3000</span><sub>MONTH</sub
              ><a href="#" class="btn btn-dark">Get Started</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h4>GOLD</h4></div>
          <div class="panel-body">
            Some content here about the payment. Nula vitae elit libero, a
            phaetra augue.
          </div>
          <ul class="list-group">
            <li class="list-group-item">transport</li>
            <li class="list-group-item">Ckacke</li>
            <li class="list-group-item">Guest-list</li>
            <li class="list-group-item">
              <span class="number"><sup>birr</sup>5000</span><sub>MONTH</sub
              ><a href="#" class="btn btn-gray">Get Started</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h4>PLATINUM</h4></div>
          <div class="panel-body">
            Some content here about the payment. Nula vitae elit libero, a
            phaetra augue.
          </div>
          <ul class="list-group">
            <li class="list-group-item">Dress</li>
            <li class="list-group-item">venue organization</li>
            <li class="list-group-item">engajment ring</li>
            <li class="list-group-item">
              <span class="number"><sup>birr</sup>10000</span><sub>ONCE</sub
              ><a href="#" class="btn btn-dark-border"
                ><i class="fa fa-phone"></i> (123) 456-7890</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer Section -->
<%include ../views/partials/footer%>
