<%include ../views/partials/header%>
<!-- Header -->
<header data-background="img/portfolio/header2.jpg" class="intro introhalf">
  <!-- Intro Header -->
  <div class="intro-body">
    <h1>Portfolio</h1>
    <h4>Home / Portfolio / Single Project</h4>
  </div>
</header>
<section>
  <div class="container">
    <div class="row wow fadeIn">
      <div class="col-md-5">
        <h3>MAGIC BICYCLE</h3>
        <p>
          Collaboratively administrate empowered markets via plug-and-play
          networks. Dynamically procrastinate B2C users after installed base
          benefits. Dramatically visualize customer directed convergence without
          revolutionary ROI.
        </p>
        <p>
          Efficiently unleash cross-media information without cross-media value.
          Quickly maximize timely deliverables for real-time schemas.
          Dramatically maintain clicks-and-mortar solutions without functional
          solutions.
        </p>
        <h3>ARTWEEK BOSTON 2017</h3>
        <p>
          Completely synergize resource taxing relationships via premier niche
          markets. Professionally cultivate one-to-one customer service with
          robust ideas. Dynamically innovate resource-leveling customer service
          for state of the art customer service.
        </p>
        <p>
          Objectively innovate empowered manufactured products whereas parallel
          platforms. Holisticly predominate extensible testing procedures for
          reliable supply chains.
        </p>
        <hr />
        <h5>
          <i class="fa fa-user fa-fw"></i> Client:<a
            href="http://forbetterweb.com"
            >ForBetterWeb</a
          >
        </h5>
        <h5><i class="fa fa-calendar fa-fw"></i> Date: April 2017</h5>
        <h5><i class="fa fa-desktop fa-fw"></i> Service: Design</h5>
      </div>
      <div class="col-md-7">
        <div id="carousel-news" class="carousel slide carousel-fade">
          <ol class="carousel-indicators indicators-inside">
            <li
              data-target="#carousel-news"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carousel-news" data-slide-to="1"></li>
            <li data-target="#carousel-news" data-slide-to="2"></li>
          </ol>
          <div role="listbox" class="carousel-inner">
            <div class="item active">
              <img src="img/portfolio/7.jpg" alt="" class="img-responsive" />
            </div>
            <div class="item">
              <img src="img/portfolio/10.jpg" alt="" class="img-responsive" />
            </div>
            <div class="item">
              <img src="img/portfolio/5.jpg" alt="" class="img-responsive" />
            </div>
          </div>
          <!-- Controls
          --><a
            href="#carousel-news"
            data-slide="prev"
            class="left carousel-control"
            ><span class="icon-prev"></span></a
          ><a
            href="#carousel-news"
            data-slide="next"
            class="right carousel-control"
            ><span class="icon-next"></span
          ></a>
        </div>
        <hr />
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            src="https://player.vimeo.com/video/64254212"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-small bg-white">
  <div class="container grid-pad">
    <h3>Recent projects</h3>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a href="portfolio-single.html"
          ><img
            src="img/portfolio/1.jpg"
            alt=""
            class="img-responsive center-block"
          />
          <h5>Lorem ipsum</h5></a
        >
        <p>
          Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis pulvinar
          vestibulum.
        </p>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="portfolio-single.html"
          ><img
            src="img/portfolio/2.jpg"
            alt=""
            class="img-responsive center-block"
          />
          <h5>Consectetur elit</h5></a
        >
        <p>
          Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis pulvinar
          vestibulum.
        </p>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="portfolio-single.html"
          ><img
            src="img/portfolio/11.jpg"
            alt=""
            class="img-responsive center-block"
          />
          <h5>Pulvinar vestibulum</h5></a
        >
        <p>
          Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis pulvinar
          vestibulum.
        </p>
      </div>
    </div>
  </div>
</section>
<div class="section section-small">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <nav>
          <ul class="pager">
            <li class="previous">
              <a href="portfolio-single.html" class="text-muted"
                ><span aria-hidden="true"></span
                ><i class="fa fa-angle-left"></i> PREVIOUS</a
              >
            </li>
            <li>
              <a href="portfolio-masonry-4.html"
                ><i class="fa ion-grid fa-2x"></i
              ></a>
            </li>
            <li class="next">
              <a href="portfolio-single.html" class="text-muted"
                >NEXT <span aria-hidden="true"></span
                ><i class="fa fa-angle-right"></i
              ></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- Action Section -->
<div class="section action section-small bg-gray2">
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-md-8">
        <h3 class="no-pad">Share your passion with the world!</h3>
      </div>
      <div class="col-md-4">
        <a href="contact.html" class="btn btn-dark">Get Started</a>
      </div>
    </div>
  </div>
</div>
<!-- Footer Section -->
<%include ../views/partials/footer%>
