<%include ../views/partials/header%>
<!-- Header -->
<header data-background="img/shop/header4.jpg" class="intro introhalf">
  <!-- Intro Header -->
  <div class="intro-body">
    <h1>Vendor</h1>
    <h4>A WORD ABOUT THE VENDOR</h4>
  </div>
</header>
<!-- shop -->
<section id="shop" class="section-small">
  <div class="container">
    <div class="row">
      <!-- shop carousel -->
      <div id="carousel-shop" class="carousel slide">
        <div class="col-lg-6 carousel-outer">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="img/shop/single1.jpg" alt="" />
            </div>
            <div class="item"><img src="img/shop/single2.jpg" alt="" /></div>
            <div class="item"><img src="img/shop/single3.jpg" alt="" /></div>
            <div class="item"><img src="img/shop/single4.jpg" alt="" /></div>
            <div class="item"><img src="img/shop/single5.jpg" alt="" /></div>
          </div>
          <!-- Controls
          --><a
            href="#carousel-shop"
            data-slide="prev"
            class="left carousel-control"
            ><span class="icon-prev"></span></a
          ><a
            href="#carousel-shop"
            data-slide="next"
            class="right carousel-control"
            ><span class="icon-next"></span
          ></a>
        </div>
        <div class="col-lg-6 slide">
          <h4>VENDOR</h4>
          <p class="small"><i class="fa fa-map-marker"></i> Addis Ababa</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis
            pulvinar vestibulum. Donec eleifend, sem sed dictum mattis, turpis
            purus.
          </p>
          <!-- Indicators -->
          <ol class="carousel-indicators mCustomScrollbar">
            <li data-target="#carousel-shop" data-slide-to="0" class="active">
              <img src="img/shop/single1.jpg" alt="" />
            </li>
            <li data-target="#carousel-shop" data-slide-to="1">
              <img src="img/shop/single2.jpg" alt="" />
            </li>
            <li data-target="#carousel-shop" data-slide-to="2">
              <img src="img/shop/single3.jpg" alt="" />
            </li>
            <li data-target="#carousel-shop" data-slide-to="3">
              <img src="img/shop/single4.jpg" alt="" />
            </li>
            <li data-target="#carousel-shop" data-slide-to="4">
              <img src="img/shop/single5.jpg" alt="" />
            </li>
          </ol>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis
            pulvinar vestibulum. Donec eleifend, sem sed dictum mattis, turpis
            purus placerat eros. Lorem ipsum dolor sit amet, consectetur elit.
            Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum
            mattis.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-small bg-white">
  <div class="container grid-pad">
    <h3>Related Vendors</h3>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a href="news-single.html"
          ><img
            src="img/news/4.jpg"
            alt=""
            class="img-responsive center-block"
          />
          <h5>Lorem ipsum</h5></a
        >
        <p>
          Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis pulvinar
          vestibulum.
        </p>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="news-single.html"
          ><img
            src="img/news/7.jpg"
            alt=""
            class="img-responsive center-block"
          />
          <h5>Consectetur elit</h5></a
        >
        <p>
          Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis pulvinar
          vestibulum.
        </p>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="news-single.html"
          ><img
            src="img/news/9.jpg"
            alt=""
            class="img-responsive center-block"
          />
          <h5>Pulvinar vestibulum</h5></a
        >
        <p>
          Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis pulvinar
          vestibulum.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Action Section -->

<!-- Footer Section -->
<%include ../views/partials/footer%>
