<%include ../views/partials/header%>
<!-- Header -->
<header data-background="img/shop/header.jpg" class="intro introhalf">
  <!-- Intro Header -->
  <div class="intro-body">
    <h1>Vendors</h1>
    <h4>Our vendors are our DNA</h4>
  </div>
</header>
<!-- shop Block -->
<div id="shop" class="section section-small">
  <div class="container text-center">
    <select class="input-lg sorting pull-left">
      <option>ALL VENDORS</option>
      <option>BY NAME</option>
      <option>aVAILABILITY</option>
      <option>PRICE: LOW TO HIGH</option>
      <option>PRICE: HIGH TO LOW</option>
    </select>
    <div class="pull-right"><h4>Showing 1–12 of 283 results</h4></div>
    <div class="clearfix"></div>
    <div class="row grid-pad">
      <div class="col-sm-6 col-md-3">
        <div class="shop-item">
          <div class="badge price trend">NEW</div>
          <div class="badge price"></div>
          <a href="shop-cart.html"></a
          ><a href="shop-single.html"
            ><img
              src="img/shop/1.jpg"
              alt=""
              class="img-responsive center-block"
          /></a>
        </div>
        <a href="shop-single.html"> <h5>VENDOR</h5></a>
      </div>
      <div class="col-sm-6 col-md-3 shop-item">
        <div class="shop-item">
          <div class="badge price NEW">NEW</div>
          <a href="shop-cart.html"></a
          ><a href="shop-single.html"
            ><img
              src="img/shop/2.jpg"
              alt=""
              class="img-responsive center-block"
          /></a>
        </div>
        <a href="shop-single.html"> <h5>VENDOR #1</h5></a>
      </div>
      <div class="col-sm-6 col-md-3 shop-item">
        <div class="shop-item">
          <div class="badge price trend">NEW</div>
          <a href="shop-cart.html"></a
          ><a href="shop-single.html"
            ><img
              src="img/shop/3.jpg"
              alt=""
              class="img-responsive center-block"
          /></a>
        </div>
        <a href="shop-single.html"> <h5>VENDOR #2</h5></a>
      </div>
      <div class="col-sm-6 col-md-3 shop-item">
        <div class="shop-item">
          <div class="badge price sale">TREND</div>
          <a href="shop-cart.html"></a
          ><a href="shop-single.html"
            ><img
              src="img/shop/4.jpg"
              alt=""
              class="img-responsive center-block"
          /></a>
        </div>
        <a href="shop-single.html"> <h5>VENDOR #3</h5></a>
      </div>
      <div class="clearfix visible-lg-block"></div>
      <div class="col-sm-6 col-md-3">
        <div class="shop-item">
          <div class="badge price trend ">NEW</div>
          <a href="shop-cart.html"></a
          ><a href="shop-single.html"
            ><img
              src="img/shop/5.jpg"
              alt=""
              class="img-responsive center-block"
          /></a>
        </div>
        <a href="shop-single.html"> <h5>VENDOR #4</h5></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="shop-item">
          <div class="badge price sale">TREND</div>
          <a href="shop-cart.html"></a
          ><a href="shop-single.html"
            ><img
              src="img/shop/6.jpg"
              alt=""
              class="img-responsive center-block"
          /></a>
        </div>
        <a href="shop-single.html"> <h5>VENDOR #5</h5></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="shop-item">
          <div class="badge price NEW">NEW</div>
          <a href="shop-cart.html"></a
          ><a href="shop-single.html"
            ><img
              src="img/shop/7.jpg"
              alt=""
              class="img-responsive center-block"
          /></a>
        </div>
        <a href="shop-single.html"> <h5>VENDOR #6</h5></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="shop-item">
          <div class="badge price"></div>
          <a href="shop-cart.html"></a
          ><a href="shop-single.html"
            ><img
              src="img/shop/8.jpg"
              alt=""
              class="img-responsive center-block"
          /></a>
        </div>
        <a href="shop-single.html"> <h5>VENDOR #7</h5></a>
      </div>
      <div class="clearfix visible-lg-block"></div>
      <div class="col-sm-6 col-md-3">
        <div class="shop-item">
          <div class="badge price"></div>
          <a href="shop-cart.html"></a
          ><a href="shop-single.html"
            ><img
              src="img/shop/9.jpg"
              alt=""
              class="img-responsive center-block"
          /></a>
        </div>
        <a href="shop-single.html"> <h5>VENDOR #8</h5></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="shop-item">
          <div class="badge price sale">TREND</div>
          <a href="shop-cart.html"></a
          ><a href="shop-single.html"
            ><img
              src="img/shop/10.jpg"
              alt=""
              class="img-responsive center-block"
          /></a>
        </div>
        <a href="shop-single.html"> <h5>VENDOR #9</h5></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="shop-item">
          <div class="badge price"></div>
          <a href="shop-cart.html"></a
          ><a href="shop-single.html"
            ><img
              src="img/shop/11.jpg"
              alt=""
              class="img-responsive center-block"
          /></a>
        </div>
        <a href="shop-single.html"> <h5>VENDOR #11</h5></a>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="shop-item">
          <div class="badge price trend">NEW</div>
          <a href="shop-cart.html"></a
          ><a href="shop-single.html"
            ><img
              src="img/shop/12.jpg"
              alt=""
              class="img-responsive center-block"
          /></a>
        </div>
        <a href="shop-single.html"> <h5>VENDOR #12</h5></a>
      </div>
    </div>
  </div>
</div>
<!-- Pagination -->
<div class="section section-small bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <nav>
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous"
                ><span aria-hidden="true">&laquo;</span></a
              >
            </li>
            <li class="active">
              <a href="#">1<span class="sr-only">(current)</span></a>
            </li>
            <li><a href="#">2</a></li>
            <li><a href="#">&middot;&middot;&middot;</a><a href="#">38</a></li>
            <li>
              <a href="#" aria-label="Previous"
                ><span aria-hidden="true">&raquo;</span></a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<%include ../views/partials/footer%>
